<div class="container">
  <div class="row">
    <div class="col-12">
        <h1 class="text-center mt-4">To Do List</h1>
        <div class="row" id="tasks"></div>
          <div class="col-12">
            <form class="mb-3" id="create-task">
              <input type="text" id="new-task-content" placeholder="Add new task" required/>
              <button type="submit" class="float-right rounded">Create</button>
            </form>
          </div>
        <div class="row">
          <div class="col-12 text-center btn-group-toggle" >
            <hr>
            <button class="mx-1 visibility-button rounded btn-primary" id="all-tasks" style="width: 150px" data-toggle="button">All Tasks </button>
            <button class="mx-1 visibility-button rounded" id="active-only" style="width: 150px" data-toggle="button">Active Only </button>
            <button class="mx-1 visibility-button rounded" id="completed-only" style="width: 150px" data-toggle="button">Completed Only </button>
          </div>
      </div>
    </div>
  </div>
</div>



