<div class="container">
  <div class="row">
    <div class="col-12">
        <h1 class="text-center mt-4">To Do List</h1>
        <div class="row" id="tasks"></div>
        <div class="row" id="create-task">
          <div class="col-12">
            <form id=new-task-content>
              <input type="text" placeholder="Add new task" required/>
              <button class="float-right">Create</button>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>